<div class="jumbotron text-center">
  <h1>NYC Restaurant App</h1>
  <h4>Your Guide To Eating At The Top Locations In Each Boro</h4>
  <a href="/restaurants" class="btn btn-lg btn-danger">Select Your Restaurant</a>
</div>
